@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    width: 100vw;
  }
  .navBar {
    /* border: 2px solid black; */
    width: 100vw;
    height: 6rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 1rem; */
    padding: 1rem;
}
.logodiv {
    /* border: 2px solid red; */
    position: absolute;
    /* width: rem; */
    height: auto;
    left: 2.5rem;
}
.logodiv img {
    width: 9rem;
}

.navigation {
    position: absolute;
    top: 2.5rem;
    right: 18rem;
}

.navigation ul {
    /* border: 2px solid green; */
    display: flex;
    list-style: none;
}
.navigation li a {
    /* border: 1px solid black; */
    text-decoration: none;
    margin: 2.5rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.42);
}

.navigation li a:hover {
    border-radius: 2px;
    color: rgba(19, 28, 77, 0.83);
    border-bottom: 4px solid rgb(233, 126, 27);
    
}
.loginBtn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid blue; */
    position: absolute;
    /* top: 2rem; */
    right: 2rem;
    width: 7rem;
    text-align: center;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    color: white;
    background-color: rgb(255, 89, 0);
}
.loginBtn:hover {
    background-color: rgb(255, 68, 0);
}
.section1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url("images/introsvg.svg");
    background-position-x: 20rem;
    background-size: cover;
    margin-bottom: 8rem;
}

.container1 {
    width: 28rem;
    height: 20rem;
    position: absolute;
    /* border: 2px solid black; */
    display: inline-block;
    padding: 1rem;
    top: 8rem;
    left: 5rem;
}
.tagline {
    /* border: 2px solid black; */
    width: 20rem;
    font-size: 42px;
    color: rgb(4, 10, 31);
}
.welcometext {
    /* border: 2px solid black; */
    margin: 1rem 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(36, 35, 35);
}
.getstartedBtn {
    text-align: center;
    width: 8rem;
    margin: 1.8rem 0;
    font-size: 13px;
    padding: 0.9rem 1rem;
    border-radius: 0.5rem;
    color: white;
    background-color: rgb(255, 68, 0);
}
.getstartedBtn:hover {
    background-color: rgb(255, 89, 0);
}

.marketingpartners {
    /* border: 1px solid black; */
    width: 90vw;
    position: absolute;
    bottom: -3rem;
    /* right: -1rem; */
    background: rgb(228, 239, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    border-radius: 1rem;
    margin: 0 2rem;
    box-shadow: 0 2px 18px rgba(143, 132, 125, 0.385);
    z-index: 1;
}
.partnerdiv {
    margin: 0 1rem;
    padding: 0 0.3rem 0 0;
    background: white;
}
.item {
    /* border: 1px solid black; */
    width: 15rem;
    height: 4rem;
}
  /* .container {
    position: absolute;
    display: grid;
    grid-template-columns: 1440px;
  }
  a {
    margin: 1rem;
    padding: 1rem;
    position: absolute;
  }
  .header {
    position: relative;
    margin: 49px 0px 0px 607px;
  }
  .header ul li {
    list-style: none;
    display: inline;
    padding: 5px 5px 0px 40px;
    font-size: 18px;
  }
  .material-icons {
    position: absolute;
    width: 9vw;
    height: 6vh;
    background-color: rgb(219, 72, 18);
    margin: -43px 0px 0px 503px;
    border-radius: 8px;
    padding: 9px 0px 0px 55px;
    font-size: 20px;
    color: black;
  }
  .header svg {
    position: absolute;
    margin: -34px 0px 0px 512px;
    color: black;
  }
  .welcometext {
    position: relative;
    width: 25vw;
    margin: 189px 0px 0px 92px;
    height: 25vh;
    padding: 12px 0px 0px 47px;
  }
  .para1 {
    position: absolute;
    top: -80px;
    left: -400px;
    width: 24vw;
  
  }
  .getstarted {
    position: relative;
    width: 9vw;
    height: 6vh;
    border-radius: 8px;
    background-color: rgb(219, 72, 18);
    margin: 50px 0px 0px 129px;
    color: white;
  }
  .welcome_image {
    width: 30vw;
    height: 30vh;
    position: absolute;
    margin: 234px 0px 0px 237px;
  }
  .illustration {
    position: absolute;
    margin: 90px 0px 0px 250px;
    padding: 24px 0px 0px 346px;
  }
  .adds {
    width: 90vw;
    height: 30vh;
    margin: 150px 0px 0px 60px;
    position: relative;
    background-color: rgb(241, 238, 226);
    display: flex;
    place-items: center;
    border-radius: 12px 0px 12px 0px;
  }
  .facebook {
    width: 23vw;
    height: 22vh;
    position: absolute;
    margin: -1px 0px 0px 1031px;
    background-color: rgb(228, 239, 240);
  }
  .bing {
    width: 23vw;
    height: 22vh;
    position: absolute;
    margin: -1px 0px 0px 0px;
    background-color: rgb(228, 239, 240);
    grid-template-columns: repeat(1fr 1fr 1fr 1fr);
  }
  .googleads {
    width: 23vw;
    height: 22vh;
    position: absolute;
    margin: -1px 0px 0px 355px;
    background-color: cornsilk;
  }
  .yahoo {
    width: 23vw;
    height: 22vh;
    position: absolute;
    margin: -1px 0px 0px 700px;
    background-color: rgb(235, 235, 241);
  }
  .whatwedo {
    position: relative;
    width: 100vw;
    height: 150vh;
    margin: 50px 0px 0px 50px;
    background-color: white;
    z-index: 1;
  }
  .whatwedo h1 {
    margin: 45px 0px 0px 45px;
    position: absolute;
  }
  .container1 {
    height: 70vh;
    width: 70vw;
    display: flex;
    background: cornsilk;
    margin: 200px 0px 0px 400px;
    border-bottom-left-radius: 7000px;
    border-top-left-radius: 7000px;
    border-width: 120px;
    flex-direction: column-reverse;
    align-items: flex-end;
    z-index: 2;
    opacity: 1;
  }
  .square6 {
    margin: 20px;
    background-color: white;
    width: 300px;
    height: 300px;
    box-shadow: 2px 1px 1px 2px rgb(202, 199, 186);
  }
  .square5 {
    margin: 20px;
    background-color: white;
    width: 300px;
    height: 300px;
    box-shadow: 2px 1px 1px 2px rgb(202, 199, 186);
  }
  .square4 {
    margin: 20px;
    background-color: white;
    width: 300px;
    height: 300px;
    box-shadow: 2px 1px 1px 2px rgb(202, 199, 186);
  }
  .square3 {
    background-color: white;
    width: 300px;
    height: 300px;
    box-shadow: 2px 1px 1px 2px rgb(202, 199, 186);
    margin: -790px 359px -251px 33px;
  }
  .square2 {
    margin: 280px 357px 0px 33px;
    background-color: white;
    width: 300px;
    height: 300px;
    box-shadow: 2px 1px 1px 2px rgb(202, 199, 186);
  }
  .square1 {
    margin: -302px 712px -134px -514px;
    background-color: white;
    width: 300px;
    height: 300px;
    box-shadow: 2px 1px 1px 2px rgb(202, 199, 186);
  }
  .container h1 {
    font-size: 20px;
    padding: 30px 0px 0px 6px;
    margin: -24px 0px 0px 2px;
  }
  .icon_image {
    width: 5vw;
    height: 9vh;
    margin: 10px 0px 0px 10px;
    size: 8px;
    padding: 10px 0px 0px 10px;
  }
  .container p {
    width: 18vw;
    font-size: 19px;
    margin: 137px 0px 0px 427px;
    padding: 23px 0px 0px 23px;
  }
  .arrow {
    margin: 13px 0px 0px 14px;
    display: inline;
  }
  .section2 h1 {
    margin: 49px 0px 0px 157px;
    font-size: 20px;
  }
  .industries_we_have_worked_for {
    height: 20vh;
    width: 250vh;
    display: flex;
    margin: 53px 0px 0px -253px;
    background-color: white;
  }
  
  .box1 {
    margin: 90px 0px 0px 397px;
    background-color: white;
    width: 3px;
    height: 3px;
  }
  .box2 {
    margin: 100px 0px 0px 157px;
    background-color: white;
    width: 130px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .box3 {
    margin: 100px 0px 0px 157px;
    background-color: white;
    width: 130px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .box4 {
    margin: 100px 0px 0px 157px;
    background-color: white;
    width: 130px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .box5 {
    margin: 100px 0px 0px 157px;
    background-color: white;
    width: 130px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .box6 {
    margin: 90px 0px 0px 157px;
    background-color: white;
    width: 3px;
    height: 3px;
  }
  .box2 h1 {
    font-size: 12px;
    margin: -56px 0px 0px 25px;
  }
  .box3 h1 {
    font-size: 12px;
    margin: -56px 0px 0px 25px;
  }
  .box4 h1 {
    font-size: 12px;
    margin: -56px 0px 0px 25px;
  }
  .box5 h1 {
    font-size: 12px;
    margin: -56px 0px 0px 25px;
  }
  .section3 h1{
    margin:31px 0px 0px 141px;
  }
  .ourclients{
    height: 100vh;
    width: 270vh;
    display: flex;
    margin: -82px 0px 0px -305px;
    background-color: white;
  }
  .rec1 {
    margin: 140px 0px 0px 450px;
    background-color: white;
    width: 3px;
    height: 3px;
  }
  .rec2 {
  margin: 140px 0px 0px 157px;
    background-color: white;
    width: 150px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .rec3 {
    margin: 140px 0px 0px 157px;
    background-color: white;
    width: 150px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .rec4 {
    margin: 140px 0px 0px 157px;
    background-color: white;
    width: 150px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .rec5 {
    margin: 140px 0px 0px 157px;
    background-color: white;
    width: 150px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .rec6 {
    margin:150px 0px 0px 77px;
    background-color: white;
    width: 3px;
    height: 3px;
  }
  .alvidian{
    width:10vw;
    height:8vh;
  }
  .callerready{
    width:9vw;
    height:8vh;
  }
  .woodruff{
    width:9vw;
    height:8vh;
  }
  .Ever-Loved-logo{
    width:9vw;
    height:8vh;
  }
  .section4{
    border: 2px solid black;
  }
  h1 {
    border: 2px solid black;
    font-size: 32px;
  }
  .ourteam {
    border: 2px solid black;
  } */